body {
    position: relative;
    font-family: 'Poiret One', fantasy;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condnsed', sans-serif
}
.row {
    max-width: 1400px;
}

/*
====================
navigation
===================
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
header {
    background: transparent;
    padding: 1rem;
    color: white;
    font-family: sans-serif;
    position: relative;
}

/*toggle-icon*/

.toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}
.toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.2em;
    margin: 0.9em;
    border-right: 2.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}
.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}
.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*pushed*/

.pushed .toggle-icon {
    margin: -3.2em 0 0 0.7em;
}
.pushed .bar:nth-of-type(1) {
    opacity: 0;
}
.pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
}
.pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}
.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}
.nav-button {
    float: left;
    background: transparent;
    padding: 0.5rem;
    margin-top: .25rem;
    position: fixed;
}
nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 69px;
    /*This is the height of the header*/
}
.nav-closed {
    display: none;
    position: fixed;
}
ul {
    position: fixed;
    width: 100%;
    background: #7CA982;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
ul li {
    display: block;
    padding: 1rem;
    text-align: left;
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:hover {
    color: rgb(243, 156, 18);
}

/*
================================
hero
===================================
*/

.container {
    background-image: url(/assets/pphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero p {
    font-size: 60px;
    font-weight: 800;
    padding-top: 40%;
    color: #fff;
    text-align: center;
    padding-bottom: 40%;
}

/*
==================================
about
=================================
*/

.main content {
    /*    background-image: url(/assets/.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}
#about {
    position: relative;
    background-color: black;
    opacity: 0.6;
}
#about h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
#about p {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

/*
===============================
portfolio
==============================
*/

.portfolio {
    background-color: #494949;
}
.portfolio img {
    border-radius: 5px 20px 5px;
    border: 1px solid #666;
    padding: 5 5%;
    margin: 5% 5%;
}
.portfolio h3 {
    color: #fff;
}
#right img {
    margin-right: 0;
    padding-right: 0;
}

/*
===================================
footer and contact form
===================================
*/

.row.wide {
    max-width: rem-calc(1200);
}
.contact-footer {
    background-color: #000;
    padding: 3.5rem 0;
}
.contact-footer .round-inputs input {
    border-radius: 1000px;
    background-color: #fff;
    color: black;
    height: 3.3125rem;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.contact-footer .round-inputs textarea {
    border-radius: 30px;
    background-color: #fff;
    height: 8rem;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 800;
}
.contact-footer h4 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.25rem;
}
.contact-footer h4.phone {
    margin-bottom: 3rem;
}
.contact-footer h4.phone:before {
    font-family: "foundation-icons";
    content: "\f1f8";
    font-weight: 300;
    padding-top: 0.2rem;
    font-size: 2rem;
    color: #000;
    padding-left: 0.5rem;
    padding-right: 1.65rem;
    -webkit-text-fill-color: transparent;
    Will override color (regardless of order) -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
@media only screen and (max-width: 40em) {
    .contact-footer h4.phone {
        font-size: 0.875rem;
    }
}
.contact-footer h4.email:before {
    font-family: "foundation-icons";
    content: "\f16d";
    font-weight: 300;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #000;
    padding-left: 0.5rem;
    padding-right: 1.55rem;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.contact-footer h4.location:before {
    font-family: "foundation-icons";
    content: "\f172";
    font-weight: 300;
    padding-top: 0.2rem;
    font-size: 2rem;
    color: #000;
    padding-left: 0.5rem;
    padding-right: 1.85rem;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.contact-footer p {
    color: #000;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 3.5rem;
}

/*
=======================
submit button
======================
*/

.contact-footer .button {
    background: #003459;
    border: 2px solid #2F3061;
    color: #a9a9a9;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
}
.contact-footer .button:hover {
    background: #003459;
    border: 2px solid #a9a9a9;
    color: #fff;
}

/*
=====================
social icons
======================
*/
